body {
  height: 100vh;
}

.margin-wrapper {
  margin-top: calc(var(--nav-height) + 2em);
}

.main-content {
  display: flex;
  margin-top: 2em;
  align-items: center;
  flex-direction: column;
}

#seat-number {
  color: red;
}

.main-flyer-wrapper {
  width: 50%;
  margin-bottom: 2em;
}

.main-flyer {
  width: 100%;
  margin: auto;
  border-radius: 1em;
}



.main-login {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.form-register {
  margin-top: 3em;
  background-color: var(--nav-color);
  border-radius: 20px;
  box-sizing: border-box;
  height: 60em;
  padding: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.form-login {
  position: absolute;
  transform: translateY(70em);
  transition: transform 0.3s ease-in-out;
}

.form-login.active {
  transform: translateY(0);
}


.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 3em;
  font-weight: 600;
  margin-top: 1em;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 4em;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 4em;
}

.ic2 {
  margin-top: 3em;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 1.5em;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: var(--nav-color);
  border-radius: 10px;
  height: 2em;
  left: 20px;
  position: absolute;
  top: -2em;
  transform: translateY(0);
  transition: transform 200ms;
  width: 14em;
}

.cut-short {
  width: 8em;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(1.5vh);
}

.placeholder {
  color: #65657b;
  font-size: 1.6em;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
  opacity: 0;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
  opacity: 1;
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 1.8em;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 2.5em;
  margin-top: 2.5em;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}


.footer {
  color: white;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: black;
}

.switch {
  color: #08d;
  cursor: pointer;
  text-decoration: underline;
}


/* Smartphone optimazation */
@media only screen and (max-width: 900px) {

  .main-login {
    width: 80%;
  }

  .form-register {
    padding: 2em;
  }

  .main-flyer-wrapper {
    width: 80%;
  }

}

/* Smartphone optimazation */
@media only screen and (max-width: 600px) {

  .main-login {
    width: 95%;
  }

  .form-register {
    padding: 1em;
  }

  .main-flyer-wrapper {
    width: 95%;
  }

}