<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylenavbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylemain.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styleflash.css') }}">
    {% block links %}
    <!-- Document related links -->
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TNM79RP8NX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TNM79RP8NX');
    </script>

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>

    <!-- Navbar -->
    <nav class='nav-main'>
      <div class='nav-wrapper'>
        <div class='nav-button'>
          <div class='bar'></div>
        </div>
        <a href="/">
          <img class='nav-logo' src="{{ url_for('static', filename='img/svg_logo_homepage.png') }}" alt=''>
        </a>
        <ul class='nav-links'>
          {% block navbar %}
          {% endblock %}
          <li id='nav-copyright'> <p>Copyright &copy; 2021 by<br>SV Grafenhausen</p></li>
        </ul>
      </div>
    </nav>

    <!-- Because of the navbar -->
    <div class="margin-wrapper"></div>

    <!-- Section for displaying the flashed messages -->
    {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %} 
        <div class="flash-wrapper">
          {% for category, message in messages %}
            {% if category == 'error' %}
              <div class="flash-error" role="alert">
                {{ message }}
                <span class="flash-button" onclick="this.parentElement.style.display='none';">&times;</span> 
              </div>
            {% else %}
              <div class="flash-error flash-success" role="alert">
                {{ message }}
                <span class="flash-button" onclick="this.parentElement.style.display='none';">&times;</span> 
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    {% endwith %}

    <!-- Container section -->
    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Own scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/navbar.js') }}"></script>
    {% block scripts %}
    <!-- Document related scripts-->
    {% endblock %}
  </body>
</html>