{% extends "base.html" %} 
{% block title %}Registrierung{% endblock %} 

{% block content %}
  <form method="POST">
    <h3 align="center">Registrierung</h3>
    <div class="form-group">
      <label for="first_name">Vorname</label>
      <input
        type="first_name"
        class="form-control"
        id="first_name"
        name="first_name"
        placeholder="Vornamen eingeben..."
      />
    </div>
    <div class="form-group">
      <label for="second_name">Nachname</label>
      <input
        type="second_name"
        class="form-control"
        id="second_name"
        name="second_name"
        placeholder="Nachnamen eingeben..."
      />
    </div>
    <div class="form-group">
      <label for="email">E-Mail Adresse</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="E-Mail Aderesse eingeben..."
      />
    </div>
    <div class="form-group">
      <label for="password1">Passwort</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Passwort eingeben..."
      />
    </div>
    <div class="form-group">
      <label for="password2">Passwort wiederholen</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Passwort wiederholen..."
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Registrieren</button>
  </form>
{% endblock %}